@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

/* @font-face {
  font-family: 'Ballo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ballo'), url(../public/fonts/Baloo2-Regular.ttf) format("truetype");
} */

/* can now reference my font */
body {
  font-family: 'Baloo 2', cursive;
}

.svg-icon {
  width: 24px;
}