@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

/* @font-face {
  font-family: 'Ballo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ballo'), url(../public/fonts/Baloo2-Regular.ttf) format("truetype");
} */

/* can now reference my font */
body {
  font-family: 'Baloo 2', cursive;
}

.svg-icon {
  width: 24px;
}

.svg-icon-small {
  width: 20px;
}

.Section {
  padding: 50px 0 20px;
}

.Spinner {
  margin: auto;
  display: block !important;
}

.img-fluid {
  width: 100%;
  border-radius: 5px;
}

.DescriptionHeading {
  text-align: center;
  font-size: 16px;
}

.BannerDot {
  list-style: none;
  bottom: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  margin: 0;
}

.BannerDot li {
  display: inline-block;
}

.BannerDot li button {
  border: none;
  text-indent: -9999px;
  width: 25px;
  height: 10px;
  margin: 0 5px;
  background: #fce488;
  border-radius: 5px;
  cursor: pointer;
}

.BannerDot li.slick-active button {
  background: #ff614a;
}

.LoginForm {
  border-radius: 10px;
  padding: 15px 20px;
  box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);;
}

.LoginForm .MuiFormLabel-root.Mui-focused {
  color: #484848;
  font-size: 16px;
  font-weight: 600;
}

.LoginIcon svg {
  width: 20px;
}

.WelcomeHeading {
  font-size: 32px;
  text-align: center;
}

.LoginButton.MuiButton-root {
  background-color: #f79587;
  font-weight: 600;
  color: white;
  margin-top: 20px;
  border: none;
  min-height: 40px;
}

.LoginButton.MuiButton-root:hover {
  background-color: #ff614a;
}

.LoginSpinner.MuiCircularProgress-colorPrimary {
  color: white;
}