.FoodRecipe {
  margin-bottom: 20px;
}

.Heading {
  font-size: 22px;
  border-bottom: 2px solid;
  margin-bottom: 10px;
  margin-top: 0;
}

.PostLink {
  padding: 7px 15px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 5px;
  cursor: pointer;
  color: white;
  background: #ff614a;
}